<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Types supplémentaires -->
    <staticContent>
      <remove fileExtension=".moc" />
      <remove fileExtension=".moc3" />
      <remove fileExtension=".mtn" />
      <mimeMap fileExtension=".moc" mimeType="application/x-msdownload" />
      <mimeMap fileExtension=".moc3" mimeType="application/x-msdownload" />
      <mimeMap fileExtension=".mtn" mimeType="application/x-msdownload" />
    </staticContent>

    <!-- Fallback SPA Blazor -->
    <rewrite>
      <rules>
        <rule name="SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
