<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <directoryBrowse enabled="false" />

    <staticContent>
      <!-- Clear potential inherited MIME types to avoid "Cannot add duplicate collection entry" errors -->
      <remove fileExtension=".dat" />
      <remove fileExtension=".wasm" />
      <remove fileExtension=".json" />
      <remove fileExtension=".webmanifest" />
      <remove fileExtension=".moc" />
      <remove fileExtension=".moc3" />
      <remove fileExtension=".mtn" />
      
      <!-- Define MIME types -->
      <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      
      <!-- Custom types -->
      <mimeMap fileExtension=".moc" mimeType="application/x-msdownload" />
      <mimeMap fileExtension=".moc3" mimeType="application/x-msdownload" />
      <mimeMap fileExtension=".mtn" mimeType="application/x-msdownload" />
    </staticContent>

    <security>
      <requestFiltering>
        <!-- Allow .dll files to be served (required for older Blazor versions or non-hashed builds) -->
        <fileExtensions>
          <remove fileExtension=".dll" />
          <add fileExtension=".dll" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>

    <rewrite>
      <rules>
        <rule name="SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
